<main class="flex justify-start ">
  <div class="flex justify-center  items-center bg-black text-white p-6">
    <div>Alex Medina Paredes</div>  
    <div class="flex justify-center text-white"><svg-icon class="w-[2em] h-[2em]" src="assets/svg/user.svg"></svg-icon></div>
  </div>
</main>

<!-- feedback -->
<input type="checkbox" id="mycheckbox">
<label for="mycheckbox" class="feedback-label">FEEDBACK</label>
<form class="form">
  <div>
    <label for="fullname">Full Name</label>
    <input type="text" id="fullname">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email">
  </div>
  <div>
    <label for="comment">Comment</label>
    <textarea id="comment"></textarea>
  </div>
  <div>
    <button type="submit">Send</button>
  </div>
</form>
